# blacklist files/folders in ./
/*
# except these files
!configuration.yaml
!automations.yaml
!customize.yaml
!README.md
!.gitignore


# except this folder
!.storage/
# blacklist files/folders inside this folder
.storage/*
#except these files
!.storage/lovelace
!.storage/lovelace_dashboards
!.storage/lovelace_resources

